@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/slider";
@import "blocks/special-offer";
@import "blocks/lawn";
@import "blocks/video";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/content";

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-page {
    svg {
        fill: #227907;
    }
    .footer-contacts-phone {
        font-size: 1.2rem;
        color: #227907;
    }
    .footer-contacts-phone .phone-call,
    .footer-contacts-schedule .clock {
        margin-right: 20px;
    }
    .footer-contacts-address {
        padding-left: 43px;
    }
}

.panel-title {
    padding: 0;
    color: #0080ce;
}

.list-group {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    &:not(:last-child) {
        margin-bottom: -1px;
    }
    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &:last-child {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }
}
