@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/slider";
@import "blocks/special-offer";
@import "blocks/lawn";
@import "blocks/video";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/content";

.collapse.in {
    display: block;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-property: height, visibility;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}
