<footer>
    <div class="container">
        <div class="row">
            <ul class="footer-links col-md-3">
                <li class="footer-link-active"><span>Главная</span></li>
                <li><a href="#">О магазине</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Гарантия</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>

            <ul class="footer-links col-lg-3 col-md-2">
                <li><a href="#">Браслеты</a></li>
                <li><a href="#">Колье</a></li>
                <li><a href="#">Кольца</a></li>
                <li><a href="#">Серьги</a></li>
                <li><a href="#">Комплекты</a></li>
                <li><a href="#">Подвески</a></li>
                <li><a href="#">Кулоны</a></li>
            </ul>

            <ul class="footer-contacts col-lg-3 col-md-4">
                <li>
                    <a href="tel:+74956460795" class="footer-phone" rel="nofollow">8 (800) 555-08-65</a>
                    <div>Бесплатный звонок по РФ</div>
                </li>
                <li>
                    <a href="tel:+74956460795" class="footer-phone" rel="nofollow">8 (495) 646-07-95</a>
                    <div>Часы работы: с 10:00 - 19:00 МСК</div>
                </li>
            </ul>

            <div class="footer-support col-md-3">
                <button class="btn btn-pink" data-toggle="modal" data-target="#requestCall">Позвоните мне</button>

                <div>Мы в социальных сетях:</div>

                <ul class="socials">
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-vk">
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-fb">
                            <use xlink:href="img/sprite.svg#fb"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-ig">
                            <use xlink:href="img/sprite.svg#ig"></use>
                        </svg>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div>
                © 2017 все права защищены www.1-fashion.ru. Информация на сайте не является публичной офертой.
            </div>

            <div class="counters">
                <img src="img/example/liveinternet.jpg" alt="">
            </div>
        </div>
    </div>
</footer>
