<header class="header-page">
    <div class="header-panel">
        <div class="container">
            <div class="row">
                <ul class="col socials hidden-xs">
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-vk">
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-fb">
                            <use xlink:href="img/sprite.svg#fb"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank">
                        <svg class="icon-ig">
                            <use xlink:href="img/sprite.svg#ig"></use>
                        </svg>
                    </a></li>
                </ul>

                <div class="col free-shipping hidden-xs">
                    <svg class="icon-delivery">
                        <use xlink:href="img/sprite.svg#delivery"></use>
                    </svg>

                    Бесплатная доставка по всей России
                </div>

                <div class="basket-info">
                    <div class="basket">
                        <svg class="icon-basket">
                            <use xlink:href="img/sprite.svg#basket"></use>
                        </svg>
                        Корзина 10
                    </div>

                    <div class="basket-total">
                        Итого: 91759
                        <svg class="icon-rub">
                            <use xlink:href="img/sprite.svg#rub"></use>
                        </svg>
                    </div>
                </div>

                <button class="btn btn-light visible-xs" data-toggle="modal" data-target="#requestCall">
                    <svg class="icon-call">
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    <span>Заказать звонок</span>
                </button>
            </div>
        </div>
    </div>

    <div class="header-content container">
        <div class="row">
            <div class="logo col-md-4">
                <picture>
                    <source srcset="img/logo@2x.png"
                            media="(-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 4/3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.33dppx)">
                    <img src="img/logo.png" alt="1-fashion.ru">
                </picture>
            </div>

            <div class="header-center col-lg-4 col-md-5">
                <ul class="phones">
                    <li>
                        <a href="tel:+74956460795" class="phone-num" rel="nofollow">8 (495) 646-07-95</a>
                        <span class="phone-hint">Будни с 10:00 до <br> 19:00 по МСК</span>
                    </li>
                    <li>
                        <a href="tel:+74956460795" class="phone-num" rel="nofollow">8 (800) 555-08-65</a>
                        <span class="phone-hint">Бесплатные звоноки <br> по России</span>
                    </li>
                </ul>

                <form action="#" class="header-search">
                    <input type="text" class="ui-field hide-placeholder" placeholder="Поиск товара">

                    <button class="header-search-button">
                        <svg class="icon-search">
                            <use xlink:href="img/sprite.svg#search"></use>
                        </svg>
                    </button>
                </form>
            </div>

            <div class="header-info col-md-3 hidden-xs">
                <button class="btn btn-light" data-toggle="modal" data-target="#requestCall">
                    <svg class="icon-call">
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    <span>Заказать звонок</span>
                </button>

                <div class="basket-info">
                    <a href="#" class="basket-link">
                        <span class="basket">
                            <svg class="icon-basket">
                                <use xlink:href="img/sprite.svg#basket"></use>
                            </svg>
                            Корзина 10
                        </span>

                        <span class="basket-total">
                            Итого: 91759
                            <svg class="icon-rub">
                                <use xlink:href="img/sprite.svg#rub"></use>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
