<nav class="main-nav-wrap">
    <div class="main-nav">
        <div class="container">
            <div class="main-nav__toggle"><span class="navbar-toggle-text">Меню сайта</span></div>
            <ul class="menu list-unstyled">
                <li class="menu-active"><span>Главная</span></li>
                <li><a href="#">О магазине</a></li>
                <li><a href="#">Как купить</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Гарантия</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Отзывы</a></li>
            </ul>
        </div>
    </div>
</nav>
